{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["@emotion"],
  "rules": {
    "@emotion/pkg-renaming": "error",
    "semi": "warn"
  }
}
